@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');
:root {
  --base_color: var(--base_color_yellow);

  --base_color_green: #00c55d;
  --base_color_yellow: #f7db3c;

  --color_white: #fff;
  --color_lightseagreen: lightseagreen;
}
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 200vh;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

.displayNone {
  display: none;
}
.displayBlock {
  display: block;
}
.screenLoad {
  min-height: 100vh;
  background: url(./assets/Image/background_1_blur9.5.png);
}
.screenContaint {
  min-height: 100vh;
  background: url(./assets/Image/background_2_blur3.5.png);
}
.challenge {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  color: var(--color_white);
}

.challengeName {
  display: flex;
  z-index: 99;
}
.h1Txt-15 {
  font-size: 10em;
  color: var(--base_color);
}
.creatorName {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  padding-top: 10px;
  position: absolute;
  right: 0%;
  color: var(--color_white);
}
.creatorName img {
  width: 8em;
  height: 8em;
  margin-top: 20px;
}
.challengeTxtHeading {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  justify-content: center;
  align-items: flex-start;
}
.challengeTxtHeading > h1 {
  text-transform: uppercase;
  font-weight: bold;
}
.challengeTxtHeading h1:nth-child(2) {
  margin-bottom: 10px;
}
.challengeGold {
  position: relative;
  margin: auto;
  bottom: 130px;
}
.challengeGold > h1 {
  font-size: 20em;
  font-family: 'The Nautigal', cursive;
  color: var(--color_lightseagreen);
}
/* .downClickButton {
  margin-top: 0%;
} */

.programmingName {
  display: flex;
  position: absolute;
  top: 40em;
  left: 15px;
  background: none;
  transform-origin: 0 0;
  transform: rotate(270deg);
  color: var(--base_color);
}
.programmingName > h1 {
  text-transform: uppercase;
  font-size: 80px;
}
.imgJS {
  border-radius: 20px;
}

/*----------------------------------------------------------*/
/*Pulsh Effect ...........*/
.pulse {
  height: 80px;
  width: 80px;
  background: linear-gradient(var(--base_color), #c2a818);
  border-radius: 50%;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 15px;
  display: grid;
  place-items: center;
  color: var(--color_white);
}
.pulse::before,
.pulse::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--base_color);
  border-radius: 50%;
  z-index: 1;
  opacity: 0.7;
}
.pulse::before {
  animation: pulse 2s ease-out infinite;
}
.pulse::after {
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

/*---------------------------------------------------------*/
/* Bouncing Arrow .......... */
/* .arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
} */
/*----------------------------------------------------------------*/
.itemFlexContex {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
}
.challengeItem {
  padding: 25px;
}
.challengeItem .card {
  height: 25em;
  width: 20em;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%), 0 11px 25px 0 rgb(0 0 0 / 19%);
}
.challengeItem .card .upperDisplay {
  background-color: blue;
  width: 20em;
  height: 15em;
  border-radius: 20px 20px 0 0;
  position: relative;
}
.challengeItem .card .upperDisplay .dayNumber {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.63);
  height: 50px;
  width: 80px;
  border-radius: 20px 0 10px 0;
  padding-left: 13px;
  padding-top: 13px;
  font-weight: bold;
  color: var(--color_white);
}
.challengeItem .card .upperDisplay .dateProject {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.63);
  height: 50px;
  width: 175px;
  border-radius: 0 20px 0 10px;
  padding-left: 13px;
  padding-top: 13px;
  font-weight: bold;
  color: var(--color_white);
}
/* .challengeItem .card .upperDisplay .containtImage {
  overflow: hidden;
  height: 15em;
  width: 20em;
  position: relative;
  border-radius: 20px 20px 0 0;
} */
.challengeItem .card .lowerDisplay {
  background-color: var(--color_white);
  width: 20em;
  height: 10em;
  border-radius: 0 0 20px 20px;
  color: black;
}
.challengeItem .card .lowerDisplay .projectName {
  margin-left: 10px;
  padding-top: 10px;
}
.challengeItem .card .lowerDisplay .projectDesc {
  margin-left: 10px;
}
.challengeItem .card .lowerDisplay .dateProject {
  margin-left: 10px;
  padding-top: 10px;
  font-size: 12px;
}
.langUsed {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  padding-top: 10px;
  color: black;
}
.langUsed .lanHTML {
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
  height: 20px;
  width: 45px;
  background: rgba(160, 29, 29, 0.5);
}
.langUsed .lanCSS {
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
  height: 20px;
  width: 40px;
  background: rgba(29, 31, 160, 0.5);
}
.langUsed .lanJS {
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
  height: 20px;
  width: 85px;
  background: rgba(160, 151, 29, 0.5);
}
.langUsed .lanAPI {
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
  height: 20px;
  width: 33px;
  background: rgba(50, 94, 8, 0.5);
}
.langUsed .react {
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
  height: 20px;
  width: 65px;
  background: rgba(0, 207, 249, 0.5);
}
.langUsed .mongo {
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
  height: 20px;
  width: 75px;
  background: rgba(0, 88, 35, 0.5);
}
.langUsed .express {
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
  height: 20px;
  width: 75px;
  background: rgba(130, 130, 130, 0.5);
}
.langUsed .node {
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
  height: 20px;
  width: 60px;
  background: rgba(0, 197, 92, 0.5);
}
.noProject {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adminPortalBtn {
  display: flex;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgb(23 13 25 / 20%);
  transition: 0.4s;
  color: rgb(23, 13, 25);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(23, 13, 25, 1);
  justify-content: center;
  align-items: center;
}
.adminPortalBtn:hover {
  color: white;
  box-shadow: 0 0 20px rgba(23, 13, 25, 0.6);
  background-color: rgba(23, 13, 25, 1);
}
/*----------------------------------------------------------------*/
/*--------------------------------------------------------*/
/*  : Scroll Bar data set........*/
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*-------------------------------------------------------*/
/*Media Queary .................*/

@media (max-width: 1200px) {
  .challengeTxtHeading h1:nth-child(2) {
    color: red;
  }
  .challengeGold > h1 {
    font-size: 15em;
  }
}
@media (max-width: 992px) {
  .challengeTxtHeading h1:nth-child(2) {
    color: green;
  }
  .challengeName {
    font-size: 12px;
  }
  .challengeGold > h1 {
    font-size: 12em;
    font-family: 'The Nautigal', cursive;
    color: gray;
  }
}
@media (max-width: 412px) {
  .challengeTxtHeading h1:nth-child(2) {
    color: blue;
  }
  .challenge {
    padding-top: 5em;
  }
  .creatorName img {
    display: none;
  }
  .programmingName {
    top: 20em;
    left: 85px;
    background: none;
    transform-origin: 0 0;
    transform: rotate(0deg);
  }
  .programmingName > h1 {
    text-transform: uppercase;
    font-size: 40px;
  }
  .challengeName {
    font-size: 8px;
  }
  .challengeGold > h1 {
    font-size: 100px;
    font-family: 'The Nautigal', cursive;
    color: gray;
  }
  .creatorName {
    font-size: 10px;
  }
  .challengeItem div {
    height: 10em;
    width: 20em;
  }
}
