form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.boxModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  color: black;
  max-width: 80%;
}
.boxModal.active {
  transform: translate(-18%, -50%) scale(1);
}
#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.addLaptop form {
  width: 65em;
  background-color: rgba(0, 0, 0, 0.81);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.addLaptop form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
.addLaptop form input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
.addLaptop form input[type='checkbox'] {
  margin: 0;
  width: 50px;
}

.addLaptop form input.error:focus {
  border: none;
}
.addLaptop form input::placeholder {
  color: #e5e5e5;
}
.productDtails {
  display: flex;
  align-items: center;
}
.productDtails input:first-child {
  margin-left: 0px;
}
.productDtails input {
  margin-left: 5px;
  margin-right: 5px;
}
/* .productDtails input:last-child {
    margin-right: 0px;
  } */

#productAction,
#alterproductAction {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
#productAction option,
#alterproductAction option {
  border: none;
  color: black;
  background: rgba(255, 255, 255, 0.07);
  padding: 0 10px;
}
#priceInText,
#alterpriceInText {
  width: 750rem;
}

.productContainer {
  width: 75%;
}
.productAndImage {
  display: flex;
  justify-content: space-between;
}
.imageContainer {
  width: auto;
}
.imageInput {
  margin-top: 8px;
  height: 165px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 10px 10px;
  cursor: pointer;
}
.imageInput img {
  width: 100%;
  height: 100%;
}

.loader {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  overflow: hidden;
  pointer-events: all;
}
.loader > div {
  height: 100px;
  width: 100px;
  border: 15px solid #45454b;
  border-top-color: #2a88e6;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}
.checkboxCont {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.addItemButton {
  margin-top: 25px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.deleteItemButton {
  margin-right: 20px;
  background-color: #fa320f;
  color: white;
}
